.first {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: Roboto, Arial;
}

.first-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bookbutton {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-family: Roboto, Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bookbutton:hover {
    background-color: #333;
}