.first {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: Roboto, Arial;
}

.first-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind the content */
}