.first {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: Roboto, Arial;
}

.first-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind the content */
}

.bookbutton {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 10px 20px; /* Adjust padding for size */
    border: none; /* Remove default border */
    border-radius: 20px; /* Rounded corners for square-circle shape */
    font-size: 1rem; /* Adjust font size */
    font-family: Roboto, Arial, sans-serif; /* Match font with the rest of the page */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.bookbutton:hover {
    background-color: #333; /* Slightly lighter black on hover */
}