* {
    font-family: Roboto , Arial;
}



body {
    font-size: 1rem;
    margin-top: 70px;
    margin-left: 0px; margin-right: 0px;
}

button:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

footer {
    background-color: #ffffff;
    color: white;
    height: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: black;
}
