#rooms {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
}
.section-title {
    font-size: 2rem;
    text-align: center;
}

.rooms-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;
}

.room-card {
    width: 300px; 
    height: 530px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    position: relative;
}

.room-card:hover {
    transform: translateY(-10px);
}

.room-image {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.room-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.room-card:hover .room-image img {
    transform: scale(1.1);
}

.room-details {
    padding: 1.5rem;
}

.room-details h3 {
    margin-bottom: 1rem;
}

.room-features {
    list-style: none;
    margin-bottom: 1.5rem;
}

.room-features li {
    margin-bottom: 0.5rem;
    color: #666;
}

.room-price {
    padding-top: 20px;
    color: gold;
    font-size: 1.5rem;
    font-weight: bold;
}

.view-more {
    position: absolute;
    right: 150px;
    bottom: 20px;
    padding: 10px 20px;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
}

.view-more:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
